<article>
  <h2>メモの編集</h2>
  <form action="/<%= @filename %>" method="POST">
    <input type="hidden" name="_method" value="patch">
    <div class="form-item">
      <label for="content">メモの内容</label>
      <textarea name="content" required><%= @content %></textarea>
    </div>
    <div class="form-item actions">
      <button><i class="far fa-save"></i>保存</button>
    </div>
  </form>
</article>