<article>
  <h2>メモの作成</h2>
  <form action="create" method="POST">
    <div class="form-item">
      <label for="content">メモの内容</label>
      <textarea name="content" required></textarea>
    </div>
    <div class="form-item actions">
      <button><i class="far fa-save"></i>保存</button>
    </div>
  </form>
</article>